
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header, footer {
  background-color: darkslategray;
  display: flex;
  justify-content: center;
}

header a, footer p {
  color: aliceblue;
  text-decoration: none;
  font-size: 1.2em;
  margin: 0 6px;
  padding: 6px 0;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}
